@font-face {
  font-family: "BMHANNAAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("https://user-images.githubusercontent.com/33235211/114694566-a327af00-9d55-11eb-8f6f-83c5f94b3793.gif");
  color: white;
  font-family: "BMHANNAAir";
}

#top-wrap {
  width: 90%;
  font-size: 1.563rem;
  margin: 0 auto;
}

#top-table {
  width: 100%;
  margin-top: 1.25rem;
}

#main-wrap {
  width: 60%;
  margin: 0 auto;
  margin-top: 6.875rem;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-family: Cafe24Oneprettynight;
  color: white;
}

h1,
h2,
header,
.text-align-center {
  text-align: center;
}

a {
  color: #9090ff;
}

a:hover {
  font-style: italic;
}

ul > a {
  font-size: 1.563rem;
}

li {
  margin-bottom: 0.938rem;
}

h1 {
  margin-top: 0;
  line-height: 6.25rem;
  font-size: 3.75rem;
  border-bottom: 2px solid white;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.063rem;
}

h4 {
  font-size: 1.563rem;
}

.layout {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

table {
  font-size: 1.25rem;
  border-collapse: collapse;
}

th {
  font-size: 1.438rem;
}

strong {
  color: red;
}

p {
  line-height: 1.2;
}

.subject-table {
  width: 90%;
}

.image-table {
  width: 100%;
}

.image-table td img {
  max-width: 100%;
  object-fit: fill;
}

.margin-auto {
  margin: 0 auto;
}

#bgm-play-button,
#bgm-stop-button {
  width: 30px;
  margin-left: 3px;
}

#bgm-stop-button {
  display: none;
}

#bgm-play-button:hover,
#bgm-stop-button:hover {
  cursor: pointer;
  background-color: red;
  width: 31px;
  border-radius: 100px;
}

audio {
  display: none;
}

@media (min-width: 450px) and (max-width: 480px) {
  body {
    background-size: cover;
  }
}
